#connexion{
	float: right;
}
.publications{
	text-align: center;
	box-sizing: border-box;
	padding-top: 100px;
}
.publi{
	padding: 20px;
	font-family: cursive;
}
.coucou{
	color: green;
}
.avatar{
	height: 100px;
	length: 100px;
}
.info_connect{
	float: right;
}
